@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf') format('truetype');
}

body{
  background-image: url('../images/background.jpg');
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.hero-p {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.left {
    margin-right: auto;
}

.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 10rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: flex-end;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.large-img {
  width: 100%;
}

main {
  display: flex;
  padding-top: 2rem;
}

.card {
  border: 1px solid #333333;
  border-radius: 2.5%;
  display: flex;
  padding: 0.65rem;
  flex-direction: column;
  align-items: center;
  max-width: 25%;
  margin: auto;
}

img {
  width: 100%;
}

figure {
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  margin-top: 10rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.footer-p {
  margin: 0;
}

.map {
  display: flex;
}

.contact {
  display: flex;
  flex-direction: column;
  font-size: 1.15rem;
}

.contact-header {
  font-size: 2.15rem;
}